/* 전역적으로 지정할 tailwind 속성값들 입니다! */

@import "tailwindcss";
@import "./custom.css";

/* 글로벌 변수 지정 style={{--font-display}}로 불러오기 가능*/
@theme {
  --font-display: "Satoshi", "sans-serif";
  --container-width-sm: 390px; /* iPhone 13 Pro CSS 해상도 기준 */
  --container-height: 844px;
}

/* 전역 컨테이너 기본 스타일 */
:root {
  width: var(--container-width-sm);
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}
